<launch>
  <arg name="black_border" default="1"/>

  <node pkg="apriltag_ros" type="apriltag_detector_node"
	name="detector" output="screen">
    <param name="refine" type="bool" value="true"/>
    <param name="family" type="int" value="0"/>
    <param name="type"   type="int" value="0"/>
    <param name="black_border" type="int" value="$(arg
						 black_border)"/>
    <param name="image_transport" value="compressed"/>
    <remap from="~image/compressed" to="/pg_17274483/image_raw/compressed"/>
  </node>

</launch>
