<launch>
  <arg name="output" default="screen"/>
  <arg name="example" default="2"/>
  <arg name="write_debug_images" default="false"/>
  <arg name="has_compressed_images" default="false"/>
  <arg name="data_dir" default="$(find tagslam)/examples/example_$(arg example)"/>
  <include file="$(find tagslam)/launch/tagslam.launch">
    <arg name="data_dir" value="$(arg data_dir)"/>
    <arg name="has_compressed_images" value="$(arg has_compressed_images)"/>
    <arg name="write_debug_images" value="$(arg write_debug_images)"/>
    <arg name="bag" value="$(arg data_dir)/tag_detections.bag"/>
  </include>
</launch>
