<launch>
  <arg name="output" default="screen"/>
  <arg name="bag" default=""/>
  <arg name="detector_type" default="Mit"/>
  <arg name="start_time" default="0.0"/>
  <arg name="duration" default="-1.0"/>
  <arg name="images_are_compressed" default="true"/>
  <arg name="use_approximate_sync" default="false"/>
  <arg name="annotate_images" default="true"/>
  <!-- for list of valid tag families, see apriltag_detector.h
       0 = 36h11
       1 = 25h9
       2 = 16h5
  -->
  <arg name="tag_family" default="0"/>
  <node pkg="tagslam" type="sync_and_detect_node" name="sync_and_detect"
    output="$(arg output)" clear_params="True">
    <rosparam param="image_topics">
      ["/pg_17274483/image_raw/compressed"]
    </rosparam>
    <rosparam param="image_output_topics">
      ["/annotated_images/compressed"]
    </rosparam>
    <rosparam param="tag_topics"> ["/detector/tags"]</rosparam>
    <!-- To pass through odometry messages, add them like so:
	<rosparam param="odometry_topics"> ["/vio/odom"]</rosparam>
    -->
    <param name="bag_file" value="$(arg bag)"/>
    <param name="detector_type" value="$(arg detector_type)"/>
    <param name="tag_family" value="$(arg tag_family)"/>
    <param name="black_border_width" value="1"/>
    <param name="annotate_images" value="$(arg annotate_images)"/>
    <param name="images_are_compressed" value="$(arg images_are_compressed)"/>
    <param name="start_time" value="$(arg start_time)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="output_bag_file" value="$(arg bag)_output.bag"/>
    <param name="max_number_frames" value="1000000"/>
    <param name="use_approximate_sync" value="$(arg use_approximate_sync)"/>
  </node>
</launch>
