<launch>
  <arg name="data_dir" default="$(find tagslam)/example"/>
  <arg name="config_dir" default="$(arg data_dir)"/>
  
  <arg name="tagslam_config_file" default="$(arg config_dir)/tagslam.yaml"/>
  <arg name="calibration_file" default="$(arg config_dir)/cameras.yaml"/>
  <arg name="camera_poses_file"
       default="$(arg config_dir)/camera_poses.yaml"/>
  <arg name="run_online" default="false"/>
  <arg name="bag" default="$(arg data_dir)/example.bag"/>
  <arg name="max_number_of_frames" default="1000000"/>
  <arg name="start_time" default="0.0"/>
  <arg name="has_compressed_images" default="true"/>

  <node pkg="tagslam" type="tagslam_node" name="tagslam" clear_params="true"
	output="screen">
    <rosparam param="cameras" command="load" file="$(arg calibration_file)"/>
    <rosparam param="tagslam_config" command="load"
	      file="$(arg tagslam_config_file)"/>
    <rosparam param="camera_poses" command="load"
	      file="$(arg camera_poses_file)"/>
    <param name="bag_start_time" value="$(arg start_time)"/>
    <param name="bag_file" value="$(arg bag)" unless="$(arg run_online)"/>
    <param name="has_compressed_images" value="false"/>
    <param name="playback_rate" value="10.0"/>
    <param name="max_number_of_frames" value="$(arg max_number_of_frames)"/>
  </node>

</launch>
